body {
    font-size: 25px;
}

html {
    opacity: 0;
    position: absolute;
    src: local();
    visibility: hidden;
    gap: 20px;

}

html {
    opacity: 0;
    position: absolute;
    src: local();
    visibility: hidden;
    gap: 20px;

}

html {
    opacity: 0;
    position: absolute;
    src: local();
    visibility: hidden;
    gap: 20px;

}

html {
    opacity: 0;
    position: absolute;
    src: local();
    visibility: hidden;
    gap: 20px;

}

html {
    opacity: 0;
    position: absolute;
    src: local();
    visibility: hidden;
    gap: 20px;

}

html {
    opacity: 0;
    position: absolute;
    src: local();
    visibility: hidden;
    gap: 20px;

}

* {
    border: 1px solid black;
    background-color: aqua;

}